@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.butterfly {
	width: 100px;
	height: 100px;
	transform: scaleX(-1);
	position: absolute;
	animation: moveUpDown 3s infinite;
}

@keyframes moveUpDown {
	0% {
	margin-top: 0px;
	}
	50% {
	margin-top: -50px;
	}
	100% {
	margin-top: 0px}
}

body {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}